/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(99, 82, 82); /* Black background */
    color: blanchedalmond; /* White text */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #111;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color:burlywood;
}

.navbar .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: burlywood;
    text-decoration: none;
    font-weight:100;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #bbb;
}

/* Content */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.search-box {
    position: relative;
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    width: calc(100% - 30px);
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #cac7c7;
    color: brown;
    outline: none;
}

.search-box button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border: none;
    background: bisque;
    color: #000;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    outline: none;
}

.search-box button i {
    font-size: 1.2em;
}

.signup p {
    margin: 10px 0;
    color: #b18646;
}

.signup a {
    color: bisque;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signup a:hover {
    color: #bbb;
}

